**/.DS_Store
node_modules
.vscode

/server
/public/build

.env*
preferences.arc
sam.json
sam.yaml
.prettierrc.json

cypress.env.json



/cypress/screenshots
/cypress/videos/*
/app/styles
/cypress/reports/cucumber-html
/cypress/reports/cucumber-json
/cypress/reports/cucumber-ndjson
/cypress/reports/cucumber-html-multi-report/*
/cypress/reports/allure-results
/cypress/reports/allure-report

/cypress/all-tests
/cypress/support/utility.ts
/cypress/support/step_definitions_project
/cypress/support/page_objects


allure-report
